<!-- full path to avid error-->
@model IEnumerable<MusicDictionary.Models.Music>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Explorer the Music</h2>
<hr />
<p>
    <a asp-action="Create" class="btn btn-primary">Add Artist</a>
</p>

@if(!Model.Any())
{
    <p>No Artist yet will you like to add one?</p>
}

